.htaccess
robots.txt
.idea/copyright/profiles_settings.xml
*.iml
.idea/deployment.xml
*.xml
composer.json

/vendor/
assets/plugins/bootstrap/.bower.json
*.json
assets/plugins/bootstrap/CHANGELOG.md
assets/plugins/bootstrap/grunt/.jshintrc
*.jscsrc
*.jshintrc
